<!DOCTYPE html>
<!--[if lt IE 7]>      <html data-ng-app="galleryApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html data-ng-app="galleryApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html data-ng-app="galleryApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html data-ng-app="galleryApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Angular gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/src/angular-gallery.css">

    </head>
    <body>


    <div class="container">
      

      <div class="row">
          
          <div class="col-sm-8">
              <h1> Angular gallery </h1>  


          </div>

          <div class="col-sm-4">
            

              <a href="#" data-ng-click="galleryOpen = true" >
                  <img src="http://lorempixel.com/400/200/nightlife/" alt="Gallery" class="img-thumbnail">
              </a>

              <a class="pull-right" href="#" data-ng-click="galleryOpen = true"><i class="fa fa-picture-o"></i> View gallery </a>  


          <gallery 
              open="galleryOpen"
              gallery-title="Angular gallery example"
              gallery-images="[
                  {'url':'http://spi1uk.itvnet.lv/upload2/articles/69/698684/images/Mistiski-nemistiskais-2.jpg', 'title': 'Sample image title 1' },
                  {'url':'http://uk.itvnet.lv/gallery/auto/motoru_sports/18484_306441.jpg', 'title': 'Sample image title 2' },
                  {'url':'http://spi3uk.itvnet.lv/upload2/articles/69/698684/images/Mistiski-nemistiskais-4.jpg', 'title': 'Sample image title 3' },
                  {'url':'http://spi1uk.itvnet.lv/upload2/articles/69/698684/images/Mistiski-nemistiskais-6.jpg', 'title': 'Sample image title 4' },
                  {'url':'http://spi2uk.itvnet.lv/upload2/articles/70/703160/images/Krievijas-Jaunsardze-6.jpg', 'title': 'Sample image title 5' },
                  {'url':'http://spi3uk.itvnet.lv/upload2/articles/70/703206/images/Ultra-Mixed-Wallpapers-1.jpg', 'title': 'Sample image title 6' },
                  {'url':'http://spi2uk.itvnet.lv/upload2/articles/70/703206/images/Ultra-Mixed-Wallpapers-4.jpg', 'title': 'Sample image title 7' },
                  {'url':'http://spi4uk.itvnet.lv/upload2/articles/70/703206/images/Ultra-Mixed-Wallpapers-10.jpg', 'title': 'Sample image title 8' },
                  {'url':'http://spi2uk.itvnet.lv/upload2/articles/70/702984/images/Pictures-5.jpeg', 'title': 'Sample image title 9' },
                  {'url':'http://spi1uk.itvnet.lv/upload2/articles/70/702984/images/Pictures-8.jpeg', 'title': 'Sample image title 10' },
                  {'url':'http://spi3uk.itvnet.lv/upload2/articles/70/702984/images/Pictures-10.jpeg', 'title': 'Sample image title 11' }
              ]"
              selected-image="selectedImage"
              >
          </gallery>




          </div>



      </div>



        

    </div>



      

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.min.js"></script>
      <script src="/src/angular-gallery.js"></script>

    </body>
</html>
